body {
    font-family: 'Lugrasimo', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

[x-cloak] { 
    display: none !important; 
}

.loading-content {
    display: flex;
    justify-content: center;
    padding-top: 20rem;
}